.uniqueCategoryList{
  overflow: hidden;
  background-color: green;
  margin-bottom: 100px;
}

.uniqueCategoryList ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: unset;
}

.uniqueCategoryList ul li{
    list-style: none;
    color: white;
    padding: 1rem 0rem;
    cursor: pointer;
}

.uniqueCategoryList ul li:hover {
    background-color: red;
    display: block;
}